<!--<section class="blog-hero-section set-bg" data-setbg="assets/img/blog/bh-bg.jpg">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12">-->
<!--        <div class="bh-text">-->
<!--          <h4>Đất Xanh Miền Trung ủng hộ<br/> 1 tỷ đồng cùng Đà Nẵng chống dịch COVID-19</h4>-->
<!--          <ul>-->
<!--            <li>by <span>Đỗ Văn Liêm</span></li>-->
<!--            <li>Seb 24, 2019</li>-->
<!--            <li>12 Comment</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- Blog Hero Section End -->

<!-- Blog Details Section Begin -->

<section class="blog-details-section spad">
  <div class="container">
    <div [innerHTML]=htmlTemplate></div>
<!--    <div class="row">-->
<!--      <div class="col-lg-8 m-auto p-0">-->
<!--        <div class="blog-details-content">-->
<!--          <div class="bc-top">-->
<!--            <p>Afashion season can be defined as much by the people on the catwalk as it can by the-->
<!--              clothes they are wearing. This time around, a key moment came at the end of Marc Jacobs’-->
<!--              New York show, when an almost makeup-free Christy Turlington made a rare return to the-->
<!--              catwalk, aged 50 (she also stars, with the designer himself, in the label’s AW ad-->
<!--              campaign), where the average catwalk model is around 18.</p>-->
<!--          </div>-->
<!--          <div class="bc-details">-->
<!--            <div class="bc-pic">-->
<!--              <img src="assets/img/blog/bd-pic.jpg" alt="">-->
<!--            </div>-->
<!--            <div class="bc-text">-->
<!--              <p>If they’re still in the awareness stages of getting to know the brand, then they’ll-->
<!--                most likely keep reading more on what Tock has to offer. They’re using one email-->
<!--                design to speak to two types of readers both in the first stage of their welcome-->
<!--                email.You can also change an email design’s color based on new product, season or to-->
<!--                match a marketing campaign’s new look and feel.</p>-->
<!--              <p>Design: The email imitates a product marketing funnel system, bringing the reader-->
<!--                towards each CTA with “Awareness, Consideration, and Action” as the main stages.-->
<!--                Harry’s used a color block design to guide reader through each,</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="bc-desc">-->
<!--            <p>A few days later, Simone Rocha arguably upped the ante. The 32-year-old’s show – in part-->
<!--              inspired by Louise Bourgeois, who lived until she was 98 – featured models in their 30s-->
<!--              and 40s, including cult favourite Jeny Howorth and actor Chloë Sevigny.</p>-->
<!--          </div>-->
<!--          <div class="bc-quote">-->
<!--            <div class="bq-icon">-->
<!--              <i class="fa fa-quote-left"></i>-->
<!--            </div>-->
<!--            <div class="bq-text">-->
<!--              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna-->
<!--                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--                aliquip ex ea commodo consequat.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="bc-desc-last">-->
<!--            <p>Occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est-->
<!--              laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure-->
<!--              dolor in reprehenderit in voluptate.</p>-->
<!--          </div>-->
<!--          <div class="bc-tags">-->
<!--            <a routerLink="/">Fashion</a>-->
<!--            <a routerLink="/">Street style</a>-->
<!--            <a routerLink="/">Diversity</a>-->
<!--            <a routerLink="/">Beauty</a>-->
<!--          </div>-->
<!--          <div class="bc-related-post">-->
<!--            <a routerLink="/" class="previous-post"><i class="fa fa-angle-left"></i> Previous posts</a>-->
<!--            <a routerLink="/" class="next-post">Next posts <i class="fa fa-angle-right"></i></a>-->
<!--          </div>-->
<!--          <div class="bc-widget">-->
<!--            <h4>Related posts</h4>-->
<!--            <div class="related-post">-->
<!--              <div class="row">-->
<!--                <div class="col-md-4 col-sm-6">-->
<!--                  <div class="related-item">-->
<!--                    <div class="ri-pic">-->
<!--                      <img src="assets/img/blog/related-post-1.jpg" alt="">-->
<!--                    </div>-->
<!--                    <div class="ri-text">-->
<!--                      <h6>what3words: The app changin real estate and construc...</h6>-->
<!--                      <span>Seb 24, 2019</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-4 col-sm-6">-->
<!--                  <div class="related-item">-->
<!--                    <div class="ri-pic">-->
<!--                      <img src="assets/img/blog/related-post-2.jpg" alt="">-->
<!--                    </div>-->
<!--                    <div class="ri-text">-->
<!--                      <h6>what3words: The app changin real estate and construc...</h6>-->
<!--                      <span>Seb 24, 2019</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-4 col-sm-6">-->
<!--                  <div class="related-item">-->
<!--                    <div class="ri-pic">-->
<!--                      <img src="assets/img/blog/related-post-3.jpg" alt="">-->
<!--                    </div>-->
<!--                    <div class="ri-text">-->
<!--                      <h6>what3words: The app changin real estate and construc...</h6>-->
<!--                      <span>Seb 24, 2019</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="bc-widget">-->
<!--            <h4>3 Comment</h4>-->
<!--            <div class="comment-option">-->
<!--              <div class="co-item">-->
<!--                <div class="ci-pic">-->
<!--                  <img src="assets/img/blog/comment/comment-1.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="ci-text">-->
<!--                  <h5>Brandon Kelley</h5>-->
<!--                  <p>Duis voluptatum. Id vis consequat consetetur dissentiet, ceteros commune-->
<!--                    perpetua mei et. Simul viderer facilisis egimus tractatos splendi.</p>-->
<!--                  <ul>-->
<!--                    <li><i class="fa fa-clock-o"></i> Seb 17, 2019</li>-->
<!--                    <li><i class="fa fa-heart-o"></i> 12</li>-->
<!--                    <li><i class="fa fa-share-square-o"></i> 1</li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="co-item reply-item">-->
<!--                <div class="ci-pic">-->
<!--                  <img src="assets/img/blog/comment/comment-2.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="ci-text">-->
<!--                  <h5>Brandon Kelley</h5>-->
<!--                  <p>Duis voluptatum. Id vis consequat consetetur dissentiet, ceteros commune-->
<!--                    perpetua mei et. Simul viderer facilisis egimus tractatos splendi.</p>-->
<!--                  <ul>-->
<!--                    <li><i class="fa fa-clock-o"></i> Seb 17, 2019</li>-->
<!--                    <li><i class="fa fa-heart-o"></i> 12</li>-->
<!--                    <li><i class="fa fa-share-square-o"></i> 1</li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="co-item">-->
<!--                <div class="ci-pic">-->
<!--                  <img src="assets/img/blog/comment/comment-3.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="ci-text">-->
<!--                  <h5>Brandon Kelley</h5>-->
<!--                  <p>Duis voluptatum. Id vis consequat consetetur dissentiet, ceteros commune-->
<!--                    perpetua mei et. Simul viderer facilisis egimus tractatos splendi.</p>-->
<!--                  <ul>-->
<!--                    <li><i class="fa fa-clock-o"></i> Seb 17, 2019</li>-->
<!--                    <li><i class="fa fa-heart-o"></i> 12</li>-->
<!--                    <li><i class="fa fa-share-square-o"></i> 1</li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="bc-widget">-->
<!--            <h4>Leave a comment</h4>-->
<!--            <form action="#" class="leave-comment-form">-->
<!--              <div class="group-input">-->
<!--                <input type="text" placeholder="Name">-->
<!--                <input type="text" placeholder="Email">-->
<!--                <input type="text" placeholder="Website">-->
<!--              </div>-->
<!--              <textarea placeholder="Comment"></textarea>-->
<!--              <button type="submit" class="site-btn">Submit</button>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</section>
<!-- Blog Details Section End -->
