<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg"  data-setbg="assets/img/breadcrumb-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>Giới thiệu</h4>
          <div class="bt-option">
            <a routerLink="/"><i class="fa fa-home"></i> Trang chủ</a>
            <span>Giới thiệu</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- About Section Begin -->
<section class="about-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-text">
          <div class="at-title">
            <h3>Chào mừng đến với BDS Group</h3>
            <p>Gần 90% người đầu tư luôn tin tưởng vào BDS khi có nhu cầu mua bán và trao đổi bất động sản.</p>
          </div>
          <div class="at-feature">
            <div class="af-item">
              <div class="af-icon">
                <img src="assets/img/chooseus/chooseus-icon-1.png" alt="">
              </div>
              <div class="af-text">
                <h6>Tìm kiếm căn nhà mơ ước của bạn</h6>
                <p>Chúng tôi sẽ giúp tìm kiếm những căn nhà mà bạn yêu thích với giá cả hợp lý nhất.</p>
              </div>
            </div>
            <div class="af-item">
              <div class="af-icon">
                <img src="assets/img/chooseus/chooseus-icon-2.png" alt="">
              </div>
              <div class="af-text">
                <h6>Các chuyên gia bất động sản có kinh nghiệm</h6>
                <p>Tìm kiếm các chuyên gia tư vấn về điều mà bạn mong muốn một cách dễ dàng.</p>
              </div>
            </div>
            <div class="af-item">
              <div class="af-icon">
                <img src="assets/img/chooseus/chooseus-icon-3.png" alt="">
              </div>
              <div class="af-text">
                <h6>Mua hoặc thuê nhà</h6>
                <p>Chúng tôi có hàng triệu căn nhà tại các thành phố mà bạn yêu thích.</p>
              </div>
            </div>
            <div class="af-item">
              <div class="af-icon">
                <img src="assets/img/chooseus/chooseus-icon-4.png" alt="">
              </div>
              <div class="af-text">
                <h6>Danh sách bất động sản của bạn</h6>
                <p>Hãy đăng ký ngay bây giờ để bán hoặc cho thuê bất động sản của bạn.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-pic set-bg"  data-setbg="assets/img/about-us.jpg">
          <a href="https://www.youtube.com/watch?v=jMBl4UOtUAM" class="play-btn video-popup">
            <i class="fa fa-play-circle"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Team Section Begin -->
<section class="team-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="section-title">
          <h4>Lãnh đạo của chúng tôi</h4>
        </div>
      </div>
<!--      <div class="col-lg-4 col-md-4">-->
<!--        <div class="team-btn">-->
<!--          <a routerLink="/"><i class="fa fa-user"></i> ALL counselor</a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="ts-item">
          <div class="ts-text">
            <img src="assets/img/team/team-1.jpg" alt="">
            <h5>Nguyễn Hữu Tài</h5>
            <span>123-455-688</span>
            <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
            <div class="ts-social">
              <a routerLink="/"><i class="fa fa-facebook"></i></a>
              <a routerLink="/"><i class="fa fa-twitter"></i></a>
              <a routerLink="/"><i class="fa fa-envelope-o"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ts-item">
          <div class="ts-text">
            <img src="assets/img/team/team-2.jpg" alt="">
            <h5>Nguyễn Hữu Tài</h5>
            <span>123-455-688</span>
            <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
            <div class="ts-social">
              <a routerLink="/"><i class="fa fa-facebook"></i></a>
              <a routerLink="/"><i class="fa fa-twitter"></i></a>
              <a routerLink="/"><i class="fa fa-envelope-o"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ts-item">
          <div class="ts-text">
            <img src="assets/img/team/team-3.jpg" alt="">
            <h5>Nguyễn Hữu Tài</h5>
            <span>123-455-688</span>
            <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
            <div class="ts-social">
              <a routerLink="/"><i class="fa fa-facebook"></i></a>
              <a routerLink="/"><i class="fa fa-twitter"></i></a>
              <a routerLink="/"><i class="fa fa-envelope-o"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h4>Đánh giá của khách hàng</h4>
        </div>
      </div>
    </div>
    <div class="row testimonial-slider owl-carousel">
      <div class="col-lg-6">
        <div class="testimonial-item">
          <div class="ti-text">
            <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
              magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
          </div>
          <div class="ti-author">
            <div class="ta-pic">
              <img src="assets/img/testimonial-author/ta-1.jpg" alt="">
            </div>
            <div class="ta-text">
              <h5>Phan Văn Vũ</h5>
              <span>Designer</span>
              <div class="ta-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonial-item">
          <div class="ti-text">
            <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
              magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
          </div>
          <div class="ti-author">
            <div class="ta-pic">
              <img src="assets/img/testimonial-author/ta-2.jpg" alt="">
            </div>
            <div class="ta-text">
              <h5>Phan Văn Vũ</h5>
              <span>Designer</span>
              <div class="ta-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonial-item">
          <div class="ti-text">
            <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
              magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
          </div>
          <div class="ti-author">
            <div class="ta-pic">
              <img src="assets/img/testimonial-author/ta-1.jpg" alt="">
            </div>
            <div class="ta-text">
              <h5>Phan Văn Vũ</h5>
              <span>Designer</span>
              <div class="ta-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial Section End -->
