<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg" data-setbg="assets/img/breadcrumb-business.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>Đăng ký</h4>
          <div class="bt-option">
            <a href="/"><i class="fa fa-home"></i> Trang chủ</a>
            <span>Đăng ký</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Form Section Begin -->
<section class="contact-form-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cf-content">
          <div class="cc-title">
            <h4>Đăng ký</h4>
            <p>Điền vào biểu mẫu dưới đây nếu bạn cần liên hệ với chúng tôi để <br> tư vấn các sản phẩm bất động sản
              hoặc
              tất cả các vấn đề liên quan</p>
          </div>
          <form action="#" class="cc-form">
            <div class="group-input">
              <input name="name" [(ngModel)]="registerUser.user.fullName" type="text" placeholder="Họ tên">
              <input type="text" name="email" [(ngModel)]="registerUser.user.email" placeholder="Email">
              <input type="text" name="username" [(ngModel)]="registerUser.user.username" placeholder="Tên đăng nhập">
            </div>
          </form>
          <form action="#" class="cc-form">
            <div class="group-input">
              <input type="password" name="password" [(ngModel)]="registerUser.user.password" placeholder="Mật khẩu">
              <input type="password" name="repassword" [(ngModel)]="registerUser.user.repassword" placeholder="Nhập lại mật khẩu">
              <input type="text" name="phone" [(ngModel)]="registerUser.phone" placeholder="Số điện thoại">
            </div>
          </form>
          <ckeditor [(ngModel)]="registerUser.content" [editor]="Editor" data="<p>Hello, world!</p>"
                    (ready)="onReady($event)" name="contentEditor"></ckeditor>
          <button type="submit" class="site-btn" (click)="signUpAsAgent()">Đăng ký</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Form Section End -->
