<!-- Offcanvas Menu Wrapper Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="canvas-close">
    <span class="icon_close"></span>
  </div>
  <div class="logo">
    <a routerLink="/">
      <img src="assets/img/g-logo.png" alt="">
    </a>
  </div>
  <div id="mobile-menu-wrap"></div>
  <div class="om-widget">
    <ul>
      <a href="mailto:bdsgroup.support@gmail.com">
        <li><i class="icon_mail_alt"></i> bdsgroup.support@gmail.com</li>
      </a>
      <li><i class="fa fa-mobile-phone"></i> 125-711-811 <span>125-668-886</span></li>
    </ul>
    <a routerLink="/" class="hw-btn">Đăng nhập</a>
  </div>
  <div class="om-social">
    <a routerLink="/"><i class="fa fa-facebook"></i></a>
    <a routerLink="/"><i class="fa fa-twitter"></i></a>
    <a routerLink="/"><i class="fa fa-youtube-play"></i></a>
    <a routerLink="/"><i class="fa fa-instagram"></i></a>
    <a routerLink="/"><i class="fa fa-pinterest-p"></i></a>
  </div>
</div>
<!-- Offcanvas Menu Wrapper End -->

<!-- Header Section Begin -->
<header class="header-section">
  <div class="hs-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="logo">
            <a routerLink="/"><img src="assets/img/g-logo.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="ht-widget">
            <ul>
              <a href="mailto:bdsgroup.support@gmail.com">
                <li><i class="icon_mail_alt"></i> bdsgroup.support@gmail.com</li>
              </a>
              <li><i class="fa fa-mobile-phone"></i> 125-711-811 <span>125-668-886</span></li>
            </ul>
            <a *ngIf="!getTitle()" routerLink="/login" class="hw-btn">Đăng nhập</a>
            <a *ngIf="!getTitle()" routerLink="/register" class="hw-btn ml-3">Đăng ký</a>
            <a *ngIf="getTitle()" routerLink="/register" class="hw-btn ml-3">{{getTitle()}}</a>
            <a *ngIf="getTitle()" (click)="logOut()" class="hw-btn ml-3">Đăng xuất</a>
          </div>
        </div>
      </div>
      <div class="canvas-open">
        <span class="icon_menu"></span>
      </div>
    </div>
  </div>
  <div class="hs-nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <nav class="nav-menu">
            <ul>
              <li class="active"><a routerLink="/">Trang chủ</a></li>
              <li><a routerLink="/property/list-properties">Sản phẩm </a>
                <ul class="dropdown">
                  <li><a routerLink="/property/list-properties-for-sale">Bất động sản bán</a></li>
                  <li><a routerLink="/property/list-properties-for-rent">Bất động sản cho thuê</a></li>
                  <li><a routerLink="/property-deltail">Chi tiết sản phẩm</a></li>
                </ul>
              </li>
              <li><a routerLink="/project">Dự án</a></li>
              <li><a routerLink="/agent">Chuyên gia tư vấn</a>
                <ul class="dropdown">
                  <li><a routerLink="/properties">Hồ sơ chuyên gia</a></li>
                </ul>
              </li>
              <li><a routerLink="/about">Giới thiệu</a></li>
              <li><a routerLink="/news-list">Tin tức</a></li>
              <li><a routerLink="/contact">Liên lạc</a></li>
              <li><a routerLink="/chat">Chat</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-3">
          <div class="hn-social">
            <a routerLink="/"><i class="fa fa-facebook"></i></a>
            <a routerLink="/"><i class="fa fa-twitter"></i></a>
            <a routerLink="/"><i class="fa fa-youtube-play"></i></a>
            <a routerLink="/"><i class="fa fa-instagram"></i></a>
            <a routerLink="/"><i class="fa fa-pinterest-p"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
