<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg" data-setbg="assets/img/breadcrumb-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>Sản phẩm</h4>
          <div class="bt-option">
            <a routerLink="/"><i class="fa fa-home"></i> Trang chủ</a>
            <span>Sản phẩm</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Property Section Begin -->
<section class="property-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h4>Dự án mới cập nhật</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let property of properties">
        <div class="property-item">
          <div class="pi-pic set-bg" [ngStyle]="{'background-image': 'url(' + property.image + ')'}">
            <div class="label">Rao bán</div>
          </div>
          <div class="pi-text">
            <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
            <div class="pt-price">$ {{property.giaTien}}<span>/tháng</span></div>
            <h5><a href="#">{{property.tenSanPham}}</a></h5>
            <p><span class="icon_pin_alt"></span> {{property.diaChi}}</p>
            <ul>
              <li><i class="fa fa-object-group"></i> 2, 283</li>
              <li><i class="fa fa-bathtub"></i> 03</li>
              <li><i class="fa fa-bed"></i> 05</li>
              <li><i class="fa fa-automobile"></i> 01</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="loadmore-btn">
          <a routerLink="/">Tải thêm</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Property Section End -->
