<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg" data-setbg="assets/img/breadcrumb-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>Dự án</h4>
          <div class="bt-option">
            <a routerLink="/"><i class="fa fa-home"></i> Trang chủ</a>
            <span>Dự án</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->
<section class="property-section latest-property-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-title">
          <h4>Dự án nổi bật</h4>
        </div>
      </div>
    </div>
    <div class="row property-filter">
      <div class="col-lg-4 col-md-6" *ngFor="let item of projects">
        <div class="property-item">
          <div class="pi-pic set-bg" [ngStyle]="{'background-image': 'url(' + item.image + ')'}"></div>
          <div class="pi-text">
            <h5><a routerLink="" style="text-transform: capitalize" (click)="privew(item.id)">{{item.tenDuAn}}</a></h5>
            <p><span class="icon_pin_alt"></span> {{item.diaChi}}</p>
            <ul></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Property Section End -->
