<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg"  data-setbg="assets/img/breadcrumb-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>Chuyên gia</h4>
          <div class="bt-option">
            <a routerLink="/"><i class="fa fa-home"></i> Trang chủ</a>
            <span>Chuyên gia tư vấn</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Agent Section Begin -->
<section class="agent-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="agent-search-form">
          <form action="#">
            <input type="text" placeholder="Tìm kiếm">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="as-slider owl-carousel">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="as-item">
            <div class="as-pic">
              <img src="assets/img/team/team-1.jpg" alt="">
              <div class="rating-point">
                4.5
              </div>
            </div>
            <div class="as-text">
              <div class="at-title">
                <h6>Nguyễn Hữu Tài</h6>
                <div class="rating-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              <ul>
                <li>Bất động sản <span>215</span></li>
                <li>Email <span>dovanliem09102014@gmai.com</span></li>
                <li>Số điện thoại <span>123-455-688</span></li>
              </ul>
              <a routerLink="/" class="primary-btn">Xem hồ sơ</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="as-item">
            <div class="as-pic">
              <img src="assets/img/team/team-2.jpg" alt="">
              <div class="rating-point">
                4.5
              </div>
            </div>
            <div class="as-text">
              <div class="at-title">
                <h6>Nguyễn Hữu Tài</h6>
                <div class="rating-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              <ul>
                <li>Bất động sản <span>215</span></li>
                <li>Email <span>dovanliem09102014@gmai.com</span></li>
                <li>Số điện thoại <span>123-455-688</span></li>
              </ul>
              <a routerLink="/" class="primary-btn">Xem hồ sơ</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="as-item">
            <div class="as-pic">
              <img src="assets/img/team/team-3.jpg" alt="">
              <div class="rating-point">
                4.5
              </div>
            </div>
            <div class="as-text">
              <div class="at-title">
                <h6>Nguyễn Hữu Tài</h6>
                <div class="rating-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              <ul>
                <li>Bất động sản <span>215</span></li>
                <li>Email <span>dovanliem09102014@gmai.com</span></li>
                <li>Số điện thoại <span>123-455-688</span></li>
              </ul>
              <a routerLink="/" class="primary-btn">Xem hồ sơ</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="as-item">
            <div class="as-pic">
              <img src="assets/img/testimonial-author/ta-1.jpg" alt="">
              <div class="rating-point">
                4.5
              </div>
            </div>
            <div class="as-text">
              <div class="at-title">
                <h6>Nguyễn Hữu Tài</h6>
                <div class="rating-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              <ul>
                <li>Bất động sản <span>215</span></li>
                <li>Email <span>dovanliem09102014@gmai.com</span></li>
                <li>Số điện thoại <span>123-455-688</span></li>
              </ul>
              <a routerLink="/" class="primary-btn">Xem hồ sơ</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="as-item">
            <div class="as-pic">
              <img src="assets/img/testimonial-author/ta-3.png" alt="">
              <div class="rating-point">
                4.5
              </div>
            </div>
            <div class="as-text">
              <div class="at-title">
                <h6>Nguyễn Hữu Tài</h6>
                <div class="rating-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              <ul>
                <li>Bất động sản <span>215</span></li>
                <li>Email <span>dovanliem09102014@gmai.com</span></li>
                <li>Số điện thoại <span>123-455-688</span></li>
              </ul>
              <a routerLink="/" class="primary-btn">Xem hồ sơ</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="as-item">
            <div class="as-pic">
              <img src="assets/img/agents/agent-6.jpg" alt="">
              <div class="rating-point">
                4.5
              </div>
            </div>
            <div class="as-text">
              <div class="at-title">
                <h6>Nguyễn Hữu Tài</h6>
                <div class="rating-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              <ul>
                <li>Bất động sản <span>215</span></li>
                <li>Email <span>dovanliem09102014@gmai.com</span></li>
                <li>Số điện thoại <span>123-455-688</span></li>
              </ul>
              <a routerLink="/" class="primary-btn">Xem hồ sơ</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="as-item">
            <div class="as-pic">
              <img src="assets/img/testimonial-author/ta-1.jpg" alt="">
              <div class="rating-point">
                4.5
              </div>
            </div>
            <div class="as-text">
              <div class="at-title">
                <h6>Nguyễn Hữu Tài</h6>
                <div class="rating-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              <ul>
                <li>Bất động sản <span>215</span></li>
                <li>Email <span>dovanliem09102014@gmai.com</span></li>
                <li>Số điện thoại <span>123-455-688</span></li>
              </ul>
              <a routerLink="/" class="primary-btn">Xem hồ sơ</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="as-item">
            <div class="as-pic">
              <img src="assets/img/
" alt="">
              <div class="rating-point">
                4.5
              </div>
            </div>
            <div class="as-text">
              <div class="at-title">
                <h6>Nguyễn Hữu Tài</h6>
                <div class="rating-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              <ul>
                <li>Bất động sản <span>215</span></li>
                <li>Email <span>dovanliem09102014@gmai.com</span></li>
                <li>Số điện thoại <span>123-455-688</span></li>
              </ul>
              <a routerLink="/" class="primary-btn">Xem hồ sơ</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="as-item">
            <div class="as-pic">
              <img src="assets/img/testimonial-author/ta-1.jpg" alt="">
              <div class="rating-point">
                4.5
              </div>
            </div>
            <div class="as-text">
              <div class="at-title">
                <h6>Nguyễn Hữu Tài</h6>
                <div class="rating-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              <ul>
                <li>Bất động sản <span>215</span></li>
                <li>Email <span>dovanliem09102014@gmai.com</span></li>
                <li>Số điện thoại <span>123-455-688</span></li>
              </ul>
              <a routerLink="/" class="primary-btn">Xem hồ sơ</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="as-item">
            <div class="as-pic">
              <img src="assets/img/testimonial-author/ta-1.jpg" alt="">
              <div class="rating-point">
                4.5
              </div>
            </div>
            <div class="as-text">
              <div class="at-title">
                <h6>Nguyễn Hữu Tài</h6>
                <div class="rating-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              <ul>
                <li>Bất động sản <span>215</span></li>
                <li>Email <span>dovanliem09102014@gmai.com</span></li>
                <li>Số điện thoại <span>123-455-688</span></li>
              </ul>
              <a routerLink="/" class="primary-btn">Xem hồ sơ</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="as-item">
            <div class="as-pic">
              <img src="assets/img/testimonial-author/ta-3.png" alt="">
              <div class="rating-point">
                4.5
              </div>
            </div>
            <div class="as-text">
              <div class="at-title">
                <h6>Nguyễn Hữu Tài</h6>
                <div class="rating-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              <ul>
                <li>Bất động sản <span>215</span></li>
                <li>Email <span>dovanliem09102014@gmai.com</span></li>
                <li>Số điện thoại <span>123-455-688</span></li>
              </ul>
              <a routerLink="/" class="primary-btn">Xem hồ sơ</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="as-item">
            <div class="as-pic">
              <img src="assets/img/agents/agent-6.jpg" alt="">
              <div class="rating-point">
                4.5
              </div>
            </div>
            <div class="as-text">
              <div class="at-title">
                <h6>Nguyễn Hữu Tài</h6>
                <div class="rating-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              <ul>
                <li>Bất động sản <span>215</span></li>
                <li>Email <span>dovanliem09102014@gmai.com</span></li>
                <li>Số điện thoại <span>123-455-688</span></li>
              </ul>
              <a routerLink="/" class="primary-btn">Xem hồ sơ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Agent Section End -->
