<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg" data-setbg="assets/img/breadcrumb-business.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>Đăng nhập</h4>
          <div class="bt-option">
            <a href="/"><i class="fa fa-home"></i> Trang chủ</a>
            <span>Đăng nhập</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Form Section Begin -->
<section class="contact-form-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cf-content">
          <div class="cc-title">
            <h4>Đăng nhập</h4>
            <p>Điền vào biểu mẫu dưới đây nếu bạn cần liên hệ với chúng tôi để <br> tư vấn các sản phẩm bất động sản
              hoặc
              tất cả các vấn đề liên quan</p>
          </div>
          <form action="#" class="cc-form">
            <div class="group-input">
              <input name="username" [(ngModel)]="form.username" type="text" placeholder="Tên đăng nhập">
              <input [(ngModel)]="form.password" type="password" name="password"  placeholder="Password">
            </div>
          </form>
          <button type="submit" class="site-btn" (click)="login()">Đăng nhập</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Form Section End -->
